.card {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    margin: 20px auto;
    width: 280px;
    height: 350px;
    text-align: center;
    border-radius: 15px;
}

.title { 
    font-size: 2em;
}

.circle {
    width: 150px;
    height: 150px;
    transform:rotate(-90deg);
    --progress: 44;
    --stroke-color: #f46060;
}

.circle circle {
    fill: none;
    stroke-width: 4px;
}

.circle circle:nth-child(1) {
    stroke: var(--stroke-color);
    stroke-dasharray: var(--progress), 100;
    stroke-dashoffset: 0;
    transition: stroke 0.3s ease;
}


.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}



.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}